<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="European holiday calculator SCHENGEN travel calculator">
    <meta name="keywords" content="EU Europe holiday travel calculator SCHENGEN">
    <meta name="author" content="Wesley Cook">
    <title>{% block title %}{% endblock %}</title>
    <style></style>
    <link rel="stylesheet" href="..\static\css\style1.css">
    
</head>
<body>
    <div class="topnav">
        {% if user.is_authenticated %}
        <a class="active" href="/">Travel</a>
        <a href="/daysleft">DaysLeft</a>
        
        <a class="wes" href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>;
        <a href="/sign-up">Sign Up</a>
        {% endif %}
        
        <a href="/about">About</a>
        
    </div>
<div class="all">
    <div class="container"> {% block content %}{% endblock %} </div>
</div>
    <script
    type="text/javascript"
    
    src="../static/index.js"
    ></script>

    <div class="footer">
        <p>Contact <a href="mailto:wmcook@outlook.com">WMCook@outlook.com</a></p>
      </div>
</body>
</html>