{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about">
<p>
    <br>
    <center><h1>Travel Calculator</h1>
    <h1>About / Instructions</h1></center>
    <br>
    These pages are to work out how many days traveling can be taken in Europe at any given date.
    There is only a 90 day allocation out of a rolling 180 days. <br>
    Please enter your travel dates and planned dates on the travel page. <br>
    On the DaysLeft page select the date you would like to take your trip and it will let you know how many days are available on that date. <br>
    It will not take into account future dates booked,  
    to take future dates into consideration set the test date after these booked days. 
    <br><br>
    This program is to only to help. It does not constitute a right of stay resulting from its calculation.
    <h3 align="center">To contact the creator of this website please email: wmcook@outlook.com</h3>
    
    
</p>
</div>
{% endblock %}